
{% if _SESSION.logged_in %}
    <div class="header-container">
        <div class="nav-header">
            <a class="name-of-page nav" href="/profile">My Profile</a>
            <a class="groups nav" href="/groups">My Groups</a>
        </div>
        <button class="sign-out-button">Sign Out</button>
    </div>
    <hr>
    {# <h1>{{ data }}</h1> #}
{% endif %}