
{% if _SESSION.logged_in %}
    <div class="header-container">
        <div><h1 class="name-of-page">Name of Page</h1></div>
        <div></div>
        <button class="sign-out-button">Sign Out</button>
    </div>
    {# <h1>{{ data }}</h1> #}
{% endif %}