{% extends "partials/base.twig" %}

{% block title %}Groups{% endblock %}


{% block content %}
<div class="groups-container">
     <ul>
        {% for group in data.groups %}
            <li>{{ group.group_name }}</li>
        {% endfor %}
     </ul>
</div>
{% endblock %}


{# print email and username #}