{% extends "partials/base.twig" %}

{% block title %}Profile{% endblock %}


{% block content %}
<div class="profile-container">
     <div class="profile-header-container">
     </div>
</div>
{% endblock %}


{# print email and username #}