{% extends "partials/base.twig" %}

{% block title %}Profile{% endblock %}
{% block content %}
<div class="profile-container">
     <div class="profile-header-container">
          <h1>Welcome To Profile</h1>
          <button class="sign-out-button">Sign Out</button>
     </div>
     <h2>Your email is {{ data.email }}</h2>

</div>
{% endblock %}

{# print email and username #}