<!DOCTYPE html>
<html>
    <head>
        {% block script %}
            <script src="javascript/everywhere.js"></script>
        {% endblock %}
        {% block css %}
             <link rel="stylesheet" href="css/everywhere.css">
        {% endblock %}
        {% block head %}
            {% include 'partials/header.twig' %}
            <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
        {% block footer %}{% include 'partials/footer.twig' %}{% endblock %}
    </body>
</html>s